<% content_for :title, "Search" %>
<%= render 'shared/navbar_bottom' %>
<div class="container">
  <%= form_tag tracks_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a track" %>
  <% end %>
</div>

<% @tracks.each do |track| %>
  <%= render 'shared/track_card', track: track %>
<% end %>
