// Define variables for your color scheme

// For example:
$jukebox-pink: #B52B65;
$jukebox-white: #ffffff;
$spotify-green: #1DB954;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
