// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;

// Colour scheme (Jukebox)
$green: #1DB954;
$pink: #B52B65;
$grey: #858585;
$black: #000000;
$white: #FFFFFF;
$light-grey: #F4F4F4;

