// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
// $body-font: "Circular", "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Circular", "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Circular";
  src: font-url('/assets/Circular/CircularPro-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: "Circular";
  src: font-url('/assets/Circular/CircularPro-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Circular";
  src: font-url('/assets/Circular/CircularPro-Book.otf');
  font-weight: 400;
}


$my-font: "Circular";

$body-font: "Circular", "Helvetica", "Arial", "sans-serif";
$headers-font: "Circular", "Helvetica", "Arial", "sans-serif";