// Specific CSS for your home-page
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #000000 62.45%, #B52B65 100%)
};

h1 {
  font-weight: 900;
};

.login-actions {
  margin-top: 10vh;
  a {
    color: white;
    font-size: 16px;
  }
}


