<h2>Buttons</h2>
<p>This is a primary button class btn btn-primary btn-pink</p>
<button type="button" class="btn btn-primary btn-pink">Primary</button>
<p>This is a secondary button, class btn btn-secondary btn-green</p>
<button type="button" class="btn btn-secondary btn-green">Secondary</button>
<p>This is a neutral button, class btn btn-neutral btn-green</p>
<button type="button" class="btn btn-transparent btn-neutral">Neutral</button>

