<nav class="navbar navbar-top navbar-default fixed-top">
    <div class="nav-container-top">
        <span class="back-arrow">
            <%= link_to request.headers['HTTP_REFERER'], class:"bottom-nav-link"  do%>
            <%= image_tag "002-left.svg", alt: "alttext",  class:"nav-icon"  %>
            <%=  %>
            <% end %>
        </span>
        <span>
            <p class="page_title">
                <%= yield(:title) %>
            </p>
        </span>
</nav>
