
<h2>Song-Cards</h2>

<div class="container">

  <div class="row song-card">



    <div class="col">
      <img class="song-img" src="https://via.placeholder.com/60x60.png" alt="">
    </div>

      <!-- the img tag will be replaced with a rails img tag -->


      <p class="song-title">Lover</p>
      <p class="song-artist">Taylor Swift</p>
      <p class="song-bid">£<span class="first-number">8</span>.75</p>
      <!-- this will be coded as to have a random number generated -->
      <p class="bidders">
    <img class="small-avatar" src="" alt="">
    <img class="small-avatar" src="" alt="">
    <img class="small-avatar" src="" alt="">
        <span class="random-number">+3</span></p>
    </div>


  </div>


</div>
