<h2>Song-Cards</h2>
<div class="song-card">
    <!-- the img tag will be replaced with a rails img tag -->
    <img class="song-img" src="https://via.placeholder.com/60x60.png" alt="">
    <p class="song-title">Lover</p>
    <p class="song-artist">Taylor Swift</p>
    <!-- this will be coded as to have a random number generated -->
    <!-- this will be replaced by rails img tag -->
    <div class="card-right">
        <p class="song-bid">£<span class="first-number">8</span>.75</p>
        <span class="bidder-avatars">
        <img class="avatar-sm small-avatar1" src="https://via.placeholder.com/20x20.png" alt="">
        <img class="avatar-sm small-avatar2" src="https://via.placeholder.com/20x20.png" alt="">
        <img class="avatar-sm small-avatar3" src="https://via.placeholder.com/20x20.png" alt="">
        </span>
        <p class="bidders">+3</p>

    </div>
</div>
