<% content_for :title, "Event" %>


<div class="container-fluid">
  <div class="event_banner">
    <div class="event_banner-content text-center">
      <h1>Pryzm</h1>
      <p>
      <span id="event-name">Pop Classics</span>
        |
      <span id="event-date">21 MAR 2020</span>
      </p>
      <div class="row">
          <%= link_to "I'm here", event_event_track_path(Event.first), class: "btn btn-primary btn-pink" %>
      </div>
      <br>
      <h2>Not here?</h2>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
    <h1>Pryzm</h1>
    <p>
        <span id="event-name">Pop Classics</span>
        |
        <span id="event-date">21 MAR 2020</span>
    </p>
    <div class="row">
          <button type="button" class="btn btn-primary btn-pink">I'm here</button>

    </div>
    <div class="row">  <a id="nothere" href="#">Not here?</a></div>
</div>

 -->




