<div class="container-fluid">
    <h1>Pryzm</h1>
    <p>
        <span id="event-name">Pop Classics</span>
        |
        <span id="event-date">21 MAR 20120</span>
    </p>
    <div class="row">
          <button type="button" class="btn btn-primary btn-pink">I'm here</button>

    </div>
    <div class="row">  <a id="nothere" href="#">Not here?</a></div>

</div>
