<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->


<!-- <div class="b">
  <div class="row min-vh-33 justify-content-center align-items-center">
	  <h1 align="center">JukeBox</h1>
  </div>
   <div class="row min-vh-33 justify-content-center align-items-center">
      <p	align="center">Control the music</p>
  </div>
  <div class="row min-vh-33 justify-content-center align-items-center">
      <button type="button" class="btn btn-secondary btn-green">Login with Spotify</button>
  </div>
</div> -->

<div class="banner">
	<div class="banner-content text-center">
	  <%= image_tag 'jukebox-icon.png' %>
	  <h1>JukeBox</h1>
      <p>Control the music</p>
      <button type="button" class="btn btn-secondary btn-green button-spotify">Login with Spotify</button>
	</div>
</div>
