<div class="container">
  <div class="banner">
  	<div class="banner-content text-center">
  	  <%= image_tag 'jukebox-icon.png' %>
  	  <h1>JukeBox</h1>
        <p>Control the music</p>
        <button type="button" class="btn btn-green">Login with Spotify</button>
  	</div>
  </div>
</div>
