<% content_for :title, "JukeBox" %>


<div class="container">
  <div class="banner">
  	<div class="banner-content text-center">
  	  <%= image_tag 'jukebox-icon.png' %>
  	  <h1>JukeBox</h1>
      <p>Control the music</p>
      <% if Event.first.present? %>
      <div class="login-actions">
        <%= link_to "<i class='fab fa-spotify'></i> Continue with Spotify".html_safe, event_path(Event.first), class: "btn btn-green" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-pink" %>
        <%= link_to "Create Account", new_user_registration_path, class: "btn btn-neutral" %>
      </div>
	    <% end %>
  	</div>
  </div>
</div>
