<% content_for :title, "JukeBox" %>


<div class="container">
  <div class="banner">
  	<div class="banner-content text-center">
  	  <%= image_tag 'jukebox-icon.png' %>
  	  <h1>JukeBox</h1>
        <p>Control the music</p>
        <% if Event.first.present? %>
	        <%= link_to "Login with Spotify", event_path(Event.first), class: "btn btn-green" %>
	    <% end %>
  	</div>
  </div>
</div>
