<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


    <br>

    <br>
    <br>




<!-- <div class="container min-vh-100">
  <div class="row min-vh-100 justify-content-center align-items-center">
    <h1 align="center">JukeBox</h1>
  </div>
</div> -->
