//the positioning and spacing classes have been commented out for now
//uncomment when we are ready to make the views as and when necessary


// login with spotify button

.btn {
  width: 320px;
  height: 60px;
  padding: 16px;
  margin: 4px 0px 4px 0px;

  font-family: $headers-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.btn-green {
  background: $green;
}
// all primary buttons

.btn-pink {
  background: $pink;
}

.btn-neutral {
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  color: $white;
  background: transparent;
}

.btn-neutral:hover {
  background-color: $grey;
  color: $black;
  border: 1px solid $grey;

}
