.event {
  min-height: 100vh;
  background-size: cover;
}

.event-infos {
  // padding-top: 10vh;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 1rem;
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 1rem;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 16px;
  }
}

.event-actions {
  // margin-top: 58vh;
  a {
    color: white;
  }
}

