.event_banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("event_image_1.jpeg");
  background-size: contain;
  h1 {
    color: white;
    font-weight: 900;
    font-size: 36px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 14px;
    font-weight: 400;
    margin-bottom:300px;
  }
  h2 {
    color: white;
    opacity: .8;
    font-size: 14px;
    font-weight: 400;
  }
}