.navbar-top {
  height: 53px;
  width: 100%;
  background-color: black;
}

.nav-container-top {
  width: 100%;
  top: 25px;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: nowrap;
}

.page-title {
  font-weight: 400;
  font-size: 14px;
}

.nav-icon {
  color: #fff;
}

.left-icon {
  position: absolute;
  left: 25px;
}

.right-icon {
  position: absolute;
  right: 25px;
}

body.padded-body {
  padding-bottom: 64px;
  padding-top: 78px;
}

body.black-background {
  background: black;
}
