.navbar-bottom {

  background: $black;
  color: white;
  height: 54px;
}
.nav-container-top {
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: nowrap;
}

.link-item {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-icon {
    height: auto;
    margin-bottom: 5px;
    width: 20px;
}

.bottom-nav-link {
  font-family: $headers-font;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 13px;
  color: white;
}

.bottom-nav-link:hover {
  text-decoration: none;
  color: white;
}


