.song-card {
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 80px;
    width: 100%;
    padding: 2.5%;
}

.opacity {
  opacity: 0.5;
}

.song-img {
    height: 60px;
    width: 60px;
    margin-right: 2.5%;
}

.song-title {
    font-family: $headers-font;
    font-weight: 900 !important;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 2px;
}

.song-artist {
    font-size: 14px;
    line-height: 18px;
    color: $light-grey;
}

.song-bid {
    text-align: right;
    font-size: 14px;
    font-family: $headers-font;
}

.first-number {
    font-size: 20px;
    margin-bottom: 2px;
}

.avatar-sm {
    border: 1px solid $black;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: -4px;
    margin-left: 1px;
}

.bidders {
    align-items: center;
    text-align: right;
    font-size: 10px;
    color: $light-grey;
    line-height: 13px;
}

.hide {
    display: flex;
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 0px;
    width: 0px;
}
.show {
    display: flex;
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 80px;
    width: 375px;
}

#submit {
  width: 100%;
  margin-top: 10px;
}

#counter {
  margin: 0 15px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.btn-primary {
  background-color: $pink;
  padding: 16px 24px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #FF5A5F;
}
