.song-card {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 80px;
    width: 100%;
    // border: 1px solid white;
}

.song-img {
    position: absolute;
    left: 2.67%;
    right: 81.33%;
    top: 12.5%;
    bottom: 12.5%;
    height: 60px;
    width: 60px;
    // background: url(image.png);
}

.song-title {
    position: absolute;
    left: 21.33%;
    right: 15.93%;
    top: 18.75%;
    bottom: 61.06%;

    font-family: $headers-font;
    font-weight: 900 !important;
    font-size: 18px;
    line-height: 23px;

}

.song-artist {
    position: absolute;
    left: 21.33%;
    right: 53.2%;
    top: 55%;
    bottom: 28.65%;

    font-size: 14px;
    line-height: 18px;

    color: $light-grey;

}

.card-right {
    // position: absolute;
    // padding-right: 10px;
    // text-align:right;
    // right: 2.59%;
    // top: 16.25%;

}

.song-bid {
    text-align: right;
    position: absolute;
    right: 2.59%;
    top: 16.25%;
    font-size: 14px;
    font-family: $headers-font;
}


.first-number {
    font-size: 20px;
}
.avatar-sm {
    position: absolute;
    border: 1px solid $black;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.small-avatar1 {
    left: 80.8%;
    right: 13.87%;
    top: 51.25%;
    bottom: 23.75%;
    // background: url(image.png);
}

.small-avatar2 {
    left: 84.55%;
    right: 10.11%;
    top: 51.25%;
    bottom: 23.75%;
    // background: url(image.png);
}

.small-avatar3 {
    left: 88.69%;
    right: 5.98%;
    top: 51.44%;
    bottom: 23.56%;
    // background: url(image.png);
}

.bidders {
    position: absolute;
    right: 2.67%;
    top: 56.25%;
    align-items: center;
    text-align: right;
    font-size: 10px;
    color: $light-grey;
    line-height: 13px;
}

.hide {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 0px;
    width: 0px;
    // border: 1px solid white;
}
.show {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    color: $white;
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    height: 80px;
    width: 375px;
    // border: 1px solid white;
}

#submit {
  width: 100%;
  margin-top: 10px;
}

#counter {
  margin: 0 15px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 35px;
  font-size: 18px;
  color: #848484;
  height: 35px;
  padding: 3px
}

.btn-primary {
  background-color: #FF5A5F;
  padding: 16px 24px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #FF5A5F;
}
